
.icon-lightbulb:before { content: '\e800'; } /* '' */
.icon-cloud-sun:before { content: '\e801'; } /* '' */
.icon-rain:before { content: '\e802'; } /* '' */
.icon-heart-filled:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-plane-outline:before { content: '\e805'; } /* '' */
.icon-snow:before { content: '\e806'; } /* '' */
.icon-drizzle:before { content: '\e807'; } /* '' */
.icon-scissors:before { content: '\e808'; } /* '' */
.icon-flash:before { content: '\e809'; } /* '' */
.icon-moon:before { content: '\e80a'; } /* '' */
.icon-leaf:before { content: '\e80b'; } /* '' */
.icon-camera:before { content: '\e80c'; } /* '' */
.icon-music:before { content: '\e80d'; } /* '' */
.icon-picture-outline:before { content: '\e80e'; } /* '' */
.icon-forward-outline:before { content: '\e80f'; } /* '' */
.icon-reply-outline:before { content: '\e810'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e811'; } /* '' */
.icon-user:before { content: '\e812'; } /* '' */
.icon-up-outline:before { content: '\e813'; } /* '' */
.icon-mic:before { content: '\e814'; } /* '' */
.icon-trash:before { content: '\e815'; } /* '' */
.icon-puzzle:before { content: '\e816'; } /* '' */
.icon-wine:before { content: '\e817'; } /* '' */
.icon-brush:before { content: '\e818'; } /* '' */
.icon-pipette:before { content: '\e819'; } /* '' */
.icon-cloud:before { content: '\e81a'; } /* '' */
.icon-sun:before { content: '\e81b'; } /* '' */
.icon-sun-filled:before { content: '\e81c'; } /* '' */